<nav>
    <div class="site-title">
        <a href="/"><h1>Blog Molin Space</h1></a>
        <p>A simple blog built in Node.js</p>
    </div>
    <ul>
        <li><a href="/">Articles</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/articles/create">New Article</a></li>
    </ul>
</nav>