<html lang="port">
    <%- include('./partials/head.ejs') %>
</html>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="blogs content">
        <h2>About</h2>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>

</html>